div.controller {
	width: 100%;
	border: 1px solid black;
	display: inline-flex;
}
div.deck {
	border: 1px solid red;
	flex: 1;
}
p.decktitle {
	margin: 10px 0;
	text-align: center;
}
div.discart {
	display: block;
	margin: 5px auto;
	height: 300px;
	width: 300px;
	border-radius: 150px;
	background-color: #434343;
	background-repeat: no-repeat;
	background-position: center;
}
input.dropbox {
	height: 294px;
	width: 292px;
	border-radius: 150px;
	opacity: 0;
	cursor: default;
}
div.deckcontrols {
	display: inline-flex;
}
div.deckcontrols div {
	margin: 0 2px;
}
div.mixer {
	border: 1px solid blue;
	flex: 1;
}
button.play {
	background-image: url("/images/playbutton.png");
	width: 50px;
	height: 50px;
}
